@page "/roster"
@page "/atc"
@page "/controller"
@using Microsoft.EntityFrameworkCore
@using Website.Data
@inject IvaoApiService Api
@inject IDbContextFactory<WebsiteContext> ContextFactory

<div class="container-fluid mt-3">
    <h2 class="text-center">ATC Roster</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">VID</th>
                <Authenticated>
                    <th scope="col">Name</th>
                </Authenticated>
                <th scope="col">Status</th>
                <th scope="col">Rating</th>
                <th scope="col">FAA</th>
                <th scope="col">NavCan</th>
                <th scope="col">Endorsements</th>
            </tr>
        </thead>
        <tbody>
            @foreach (User user in _users ?? Array.Empty<User>())
            {
                <tr class="align-middle @(user.LastControlTime < DateTime.UtcNow - TimeSpan.FromDays(30) ? "table-secondary" : string.Empty)">
                    <th scope="row"><a href="https://ivao.aero/member?ID=@(user.Vid)" class="link-dark" style="text-decoration-line: none;">@user.Vid</a></th>
                    <Authenticated>
                        <td>@user.FirstName @user.LastName</td>
                    </Authenticated>
                    <td><img src="https://status.ivao.aero/R/@(user.Vid).png" title="@user.Vid" /></td>
                    <td><img src="https://ivao.aero/data/images/ratings/atc/@((int)user.RatingAtc!.Value).gif" title="@user.RatingAtc" /></td>
                    <td>
                        <div class="d-flex flex-row">
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.AS1, AtcRating.AS3)">DEL/GND</button>
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.AS2, AtcRating.ADC)">TWR</button>
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.ADC, AtcRating.APC)">APP/DEP</button>
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.APC, AtcRating.ACC)">CTR</button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.AS1, AtcRating.AS3)">DEL/GND</button>
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.AS2, AtcRating.ADC)">TWR</button>
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.ADC, AtcRating.APC)">APP/DEP</button>
                            <button type="button" class="@GetButtonClasses(user.RatingAtc ?? AtcRating.AS1, AtcRating.APC, AtcRating.ACC)">CTR</button>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-row">
                            @if (_fras.TryGetValue(user.Vid, out var endorsements))
                            {
                                @foreach (var endorsement in endorsements)
                                {
                                    <span class="badge rounded-pill bg-@(endorsement.Value ? "dark" : "primary") m-1">@endorsement.Key</span>
                                }
                            }
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    private User[]? _users = null;
    private Dictionary<int, Dictionary<string, bool>> _fras = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_users is not null)
            return;

        foreach (Fra fra in await Api.GetFrasAsync(vidBased: true, ratingBased: false) ?? new())
        {
            if (fra.userId is null)
                continue;

            int vid = fra.userId.Value;

            if (!_fras.ContainsKey(vid))
                _fras.Add(vid, new());

            bool isPerpetual =
                fra.active && fra.daySun && fra.dayMon && fra.dayTue &&
                fra.dayWed && fra.dayThu && fra.dayFri && fra.daySat &&
                fra.startTime == "00:00:00" && fra.endTime == "00:00:00";

            string formatPosition =
                fra.atcPosition is not null
                ? $"{fra.atcPosition.airportId} {fra.atcPosition.position}"
                : $"{fra.subcenter!.centerId[1..]} {fra.subcenter.position}";

            _fras[vid].TryAdd(formatPosition, isPerpetual);
        }

        var minControlTime = DateTime.UtcNow - TimeSpan.FromDays(90);
        var allUsers = (await ContextFactory.CreateDbContextAsync()).Users.AsNoTracking().ToArray();
        _users = allUsers.Where(u => u.RatingAtc is not null).OrderByDescending(u => u.LastControlTime).ToArray();
        StateHasChanged();
    }

    private string GetButtonClasses(AtcRating atcRating, AtcRating trainingRating, AtcRating completeRating) =>
        atcRating < trainingRating
        ? "btn btn-outline-secondary btn-sm m-1"
        : atcRating >= completeRating
          ? "btn btn-success btn-sm m-1"
          : "btn btn-info btn-sm m-1";
}